body {font-family: 'Nunito';}
input, button, textarea, select {
    height: 40px;
    border-width: 0px;
    border-radius: 12px;
    resize: none;
    overflow: hidden;
    padding-top: 6px;
    padding-left: 6px;}

.foot {
    width: 100%;
    text-align: left;
    background-color: forestgreen;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;}
.social {padding-right: 90px;}
.social img {
    width: 25px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;}
.letter-address {
    background: linear-gradient(180deg, #189B21 -49.12%, #013F05 72.6%);
    border-width: 2px;
    width: 350px;
    height: 38px;
    border-color: white;}


@media screen and (max-width:600px) { 
    .a {width: 100%;}
    .letter-address {width: 250px;
    margin-top: 50px;}
    .b {width: 100%;}
  }

@media screen and (min-width:300px) { 
   
  }

